<!DOCTYPE html>
html(lang="es")
head
	meta(charset="UTF-8")
	title Título de tu proyect
	link(rel="shortcut icon", href="./favicon.ico")
	meta(name="description", content="Escribe una descripción breve del proyecto")
	meta(name="author", content="Escribe la persona o empresa que esta desarrollando el proyecto")
	meta(name="viewport", content="initial-scale=1, maximum-scale=1")
	link(rel="stylesheet", href="css/estilos.css")

body
	section
		figure
			a(href="https://aptitudemprendedora.com", target="_blank")
				img(src="img/logo.png")
		div
			h1 Mucha gracias por descargar este report
			h2 Esperamos que sea de tu agrado :)
	script(src="/js/app.js")
