<!DOCTYPE html>
html(lang="es")
head
	meta(charset="UTF-8")
	title Base Maquetación
	meta(name="viewport", content="initial-scale=1, maximum-scale=1")
	link(rel="stylesheet", href="css/estilos.css")
	link(name="author", content="Gerson Perez Aguilar - CEO de Aptitud Emprendedora")
body
	section
		figure
			a(href="https://aptitudemprendedora.com", target="_blank")
				img(src="img/logo.png")
		div
			h1 Mucha gracias por descargar este report
			h2 Esperamos que sea de tu agrado :)
	script(src="/js/app.js")
